body { 
  background-color: var(--primary);
  color: var(--secondary-fade);

  line-height: 1.6; 
  padding: 20px; 
}
        
#output { 
  white-space: pre-wrap; 
  background: #f4f4f4; 
  padding: 10px; 
  border-radius: 5px; 
}
 
